html,
body {
    height: 100vh;
    background-color: #febc58;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    -ms-align-items: inherit;
    align-items: center;
    text-align: center;
    background-color: #febc58;
}

.random-beer {
    margin-top: 150px;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.description {
    max-width: 600px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

table,
th,
td {
    border: 1px solid;
    border-color: aliceblue;
}


/* .details-aco.div {
    background-color: aqua;
    font-size: 18px;
    padding: 10px;
    width: 50px;
} */

.beer-button {
    text-decoration: none;
    border: none;
    padding: 12px 40px;
    font-size: 16px;
    background-color: rgb(78, 92, 219);
    color: #fff;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

.beer-button:active {
    transform: scale(0.90);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


/* .beer-button .fab {
    padding-left: 3px;
} */